<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="fix-columns fix-second-clm">
        <h4 class="column-heading">Hype Packages</h4>
        <form>
          <input type="text" class="form-control search-fld" placeholder="Search Package" value="">
          <ul class="list-style">
            <li><a href="#" class="">1 Hype - $0.99 USD</a></li>
            <li><a href="#" class="">5 Hypes - $3.99 USD</a></li>
            <li><a href="#" class="">10 Hypes - $7.99 USD</a></li>
          </ul>

        </form>
      </div>
      <div class="fix-columns fix-third-clm">

        <form class="form-max-width">
          <div class="row">
            <p class="column-heading">Edit Hype Package <a href="#" class="pull-right" data-toggle="modal"
                data-target="#exampleModal">Add Package <i class="fa fa-plus-circle" aria-hidden="true"></i></a></p>
          </div>



          <div class="row">

            <div class="form-group">
              <label class="sub-heading">Hype Type</label>
              <select class="form-control" id="sel1">
                <option value="Select Category" selected>National Hype with 200 views</option>
              </select>

            </div>
          </div>

          <div class="row pdd-top-10 ">

            <div class="form-group">
              <label>Cost</label>
              <input type="text" class="form-control" placeholder="Cost" value="$10">
            </div>

          </div>

          <div class="row  pdd-top-20  pdd-bottom-20">

            <label for=""> Free</label>
            <label class="el-switch pull-right">
              <input type="checkbox" name="switch" checked>
              <span class="el-switch-style"></span>
            </label>

          </div>

          <div class="row pdd-top-10 ">

            <div class="form-group">
              <label>Number of Hypes</label>
              <input type="text" class="form-control" placeholder="200" value="200">
            </div>

          </div>

          <div class="row pdd-top-10 ">

            <div class="form-group">
              <label>Android Product ID</label>
              <input type="text" class="form-control" placeholder="ANDDGTVX5862" value="ANDDGTVX5862">
            </div>

          </div>

          <div class="row pdd-top-10">

            <div class="form-group">
              <label>iOS Product ID</label>
              <input type="text" class="form-control" placeholder="IOSYTTER87DD" value="IOSYTTER87DD">
            </div>

          </div>

          <div class="row pdd-top-20 pdd-bottom-20">

            <label for="">Android Product Verified</label>
            <label class="el-switch pull-right">
              <input type="checkbox" name="switch">
              <span class="el-switch-style"></span>
            </label>

          </div>

          <div class="row pdd-top-20 pdd-bottom-20">

            <label for="">iOS Product Verified</label>
            <label class="el-switch pull-right">
              <input type="checkbox" name="switch" checked>
              <span class="el-switch-style"></span>
            </label>

          </div>

          <div class="row">
            <div class="col-md-6">
              <button type="reset" class="btn btn-danger btn-fill ">Cancel</button>
              <button type="submit" class="btn btn-info btn-fill" style="margin-left: 5px;">Update</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel">Add Package</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>


          <div class="">

            <div class="form-group">
              <label class="sub-heading">Hype Type</label>
              <select class="form-control" id="sel1">
                <option value="Select Category" selected>Select Hype Type</option>
              </select>

            </div>
          </div>

          <div class=" pdd-top-10 ">

            <div class="form-group">
              <label>Cost</label>
              <input type="text" class="form-control" placeholder="Cost" value="">
            </div>

          </div>

          <div class="  pdd-top-20  pdd-bottom-20">

            <label for=""> Free</label>
            <label class="el-switch pull-right">
              <input type="checkbox" name="switch" checked>
              <span class="el-switch-style"></span>
            </label>

          </div>

          <div class=" pdd-top-10 ">

            <div class="form-group">
              <label>Number of Hypes</label>
              <input type="text" class="form-control" placeholder="200" value="">
            </div>

          </div>

          <div class=" pdd-top-10 ">

            <div class="form-group">
              <label>Android Product ID</label>
              <input type="text" class="form-control" placeholder="Enter Android Product ID" value="">
            </div>

          </div>

          <div class=" pdd-top-10">

            <div class="form-group">
              <label>iOS Product ID</label>
              <input type="text" class="form-control" placeholder="Enter iOS Product ID" value="">
            </div>

          </div>

          <div class=" pdd-top-20 pdd-bottom-20">

            <label for="">Android Product Verified</label>
            <label class="el-switch pull-right">
              <input type="checkbox" name="switch">
              <span class="el-switch-style"></span>
            </label>

          </div>

          <div class=" pdd-top-20 pdd-bottom-20">

            <label for="">iOS Product Verified</label>
            <label class="el-switch pull-right">
              <input type="checkbox" name="switch" checked>
              <span class="el-switch-style"></span>
            </label>

          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-fill" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info btn-fill">Save</button>
      </div>
    </div>
  </div>
</div>